{% extends "pages/base.html" %}

{% block content %}
<h2>Exposure History</h2>
<div class="list-group">
	{% for person in data.status %}
		<div class="list-group-item">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">{{ person.name }}</h5>
				<small>last 14 days</small>
			</div>
			Locations: {{ person.num_visits }} <br>
			Total interactions: {{ person.num_infected + person.num_other }}<br>
			COVID interactions: {{ person.num_infected }}
		</div>
	{% endfor %}
</div>
{% endblock %}