{% extends "pages/base.html" %}

{% block content %}
<h2>New member</h2>
<form action="{{ url_for('api.api_add_member') }}" method="post">
	<div class="form-group row">
		<label for="first" class="col col-form-label-sm">First Name</label>
		<div class="col">
			<input type="text" class="form-control form-control-sm" placeholder="First" name="first" required>
		</div>
	</div>
	
	<div class="form-group row">
		<label for="last" class="col col-form-label-sm">Last Name</label>
		<div class="col">
			<input type="text" class="form-control form-control-sm" placeholder="Last" name="last" required>
		</div>
	</div>
	
	<button type="submit" class="btn btn-primary form-group">Submit</button>
</form>
<hr>
<h2>Members</h2>
<ul class="list-group">
	{% for person in data.members %}
		<form action="{{ url_for('api.api_delete_member') }}" method="post" class="list-group-item">
			<button type="submit" class="btn btn-danger" style="float: right;">Delete</button>
			<h5 class="mb-1"> {{ person[2] }} {{ person[3] }} </h5>
			<input type="hidden" name="id" value="{{ person[0] }}">
		</form>
	{% endfor %}
</ul>
{% endblock %}